*{
    outline: 1px solid green;
    margin: 0;
    padding: 0;
    
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 20%;
}
.footer{
    height: 80px;
    
}
.info-laterale{
    height: 15%;
    width: 128px;
}

