*{
    outline: 1px solid green;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    width: 100%;
}
.all{
    display: flex;
    flex-direction: row;
    height: 90vh;
}
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.centrale{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: end;
    position: sticky;
    padding: 10px;
}
.footer{
    height: 10vh;

}
.main{
    overflow-y: auto;
    flex-basis: 100%;
    
}
.a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}


