@media screen and (min-width: 320px) {
    .hidden{
        display: none;
    }
    


    
}
@media screen and (min-width: 480px) {
    .a{
        font-size: 1.5rem;
    }
    .side-bar{
        flex-basis: 15%;
    }
    .hidden{
        display: flex;
    }
    .hidden-0{
        display: none;
    }
    
}